*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# python
*.pyc

sandboxes.tar.gz
.DS_Store
protobuf-*/
*.tar.gz

# si_provision.sh files
ci/launch_cluster.sh
ci/si_pipeline.sh

# kamon libsigar native libs
jobs/native/
native/
