[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

shakedown = {git = "https://github.com/dcos/shakedown.git", ref = "1.4.12"}
dcos-launch = {git = "https://github.com/dcos/dcos-launch.git"}


[dev-packages]

"flake8" = "*"
