[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

shakedown = {git = "https://github.com/dcos/shakedown.git", ref = "1.5.0"}
dcos-launch = {git = "https://github.com/dcos/dcos-launch.git", ref = "3b4d8c0a49e8449c10d0d99d458f04f3de3283ff"}
dcos-test-utils = {git = "https://github.com/dcos/dcos-test-utils", ref = "c9a4fc583a4a0bca18040ad4c7772e187e51aa74"}


[dev-packages]

"flake8" = "*"
